// 物件區塊風格屬性
@mixin div-style {
  // background-image: linear-gradient(#c0a8b5b7, #7c85dfc4);
  background-color: #f0ece6;
  border-radius: 34px;
  box-shadow: 5px 5px 2px #888888a2;
  padding-bottom: 2em;
  margin: 1em 1em 1em 1em;
  h1 {
    background-color: #dcb879;
    border-radius: 20px;
    width: auto;
  }
}

// 表格物件風格屬性
@mixin table-style($th-color: cadetblue, $td-color: khaki, $width: 80%) {
  table {
    width: $width;
  }
  th {
    background-color: $th-color;
    font-size: 35px;
    inline-size: 10em;
  }
  td {
    background-color: $td-color;
    color: #4a593d;
    font-size: 35px;
  }
  input[type="text"] {
    border: none;
    text-align: center;
  }
  input[type="number"] {
    border: none;
    text-align: center;
  }
  h2 {
    background-color: #4bf09e;
    color: #3b38dd;
    width: 30%;
    border-radius: 20px;
  }
}
.div-wifi {
  @include div-style;
  @include table-style;
}
