// 添加字體厚度,陰影,轉場效果,字體在不同瀏覽器上不同,需統一字體
* {
  font-weight: 700 !important;
  text-shadow: 0.03em 0.03em 0.08em #d7c4bb !important;
  font-family: "Microsoft JhengHei";
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*-------------------------常用混合元素-----------------------------*/
$bg-color: #ecb88a;
$main-bgcolor: #e98b2a;

// 背景主要風格屬性
@mixin main-style {
  background-color: $main-bgcolor;
  border-radius: 34px;
  box-shadow: 5px 5px 2px #888888a2;
  padding-bottom: 2em;

  h1 {
    background-color: #dcb879;
    border-radius: 20px;
  }
  th {
    color: #734338;
    font-size: 35px;
    background-color: #dcb879;
    border-radius: 10px;
  }
  td {
    color: #4a593d;
    font-size: 35px;
    background-color: #f0ece6;
    border-radius: 10px;
  }
}

// 物件區塊風格屬性
@mixin div-style {
  // background-image: linear-gradient(#c0a8b5b7, #7c85dfc4);
  background-color: #f0ece6;
  border-radius: 34px;
  box-shadow: 5px 5px 2px #888888a2;
  padding-bottom: 2em;
  margin: 1em 1em 1em 1em;
  h1 {
    background-color: #dcb879;
    border-radius: 20px;
    width: auto;
  }
}

// 表格物件風格屬性
@mixin table-style($th-color: cadetblue, $td-color: khaki, $width: 80%) {
  table {
    width: $width;
  }
  th {
    background-color: $th-color;
    font-size: 35px;
    inline-size: 10em;
  }
  td {
    background-color: $td-color;
    color: #4a593d;
    font-size: 35px;
  }
}

// 按鈕物件風格屬性
@mixin button-style($color: white, $backcolor: blue) {
  border: none;
  border-radius: 25px;
  color: $color;
  background-color: $backcolor;
  cursor: pointer;
  text-align: center;
}

// 核取方塊風格屬性
@mixin checkbox-style {
  label {
    padding: 0;
    margin-right: 3px;
    cursor: pointer;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + span {
    display: inline-block;
    background-color: rgb(179, 179, 179);
    padding: 5px 8px;
    border-radius: 20px;
    color: #444;
    user-select: none; /* 防止文字被滑鼠選取反白 */
  }

  input[type="checkbox"]:checked + span {
    color: rgb(255, 255, 255);
    background-color: rgb(41, 121, 226);
  }
}

// 響應式表格屬性
@mixin table-RWD {
  thead {
    clip: rect(0 0 0 0);
    position: absolute;
  }
  tr {
    background-color: khaki;
    border-bottom: 3px solid #ddd;
    display: block;
    border-radius: 20px;
  }
  td {
    border-bottom: 3px solid rgb(245, 144, 144);
    display: block;
    text-align: right;
    margin: 0em 1em 1em 1em;
    border-radius: 0px;
    padding-top: 1em;
    font-size: 28px;
  }
  td::before {
    color: #734338;
    content: attr(data-label);
    float: left;
  }
}

/*-------------------------HTML元素-----------------------------*/
body {
  background-color: $bg-color;
}
table {
  text-align: center;
  margin: auto;
}
h1 {
  font-size: 50px;
  color: #734338;
}

/*-------------------------class元素-----------------------------*/

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

// 確認/執行按鈕屬性
.button-ok {
  @include button-style(#113285, #00aa90);
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

// 取消/刪除按鈕屬性
.button-cancel {
  @include button-style(white, #ff3c00);
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

// 開關按鈕屬性
.button-switch {
  @include button-style(#211e55, lawngreen);
  font-size: 60px;
  box-shadow: 0 9px #999;
  width: 30%;
  height: 150px;
  margin-left: 0.3em;
}

.button-switch:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

// 主頁面屬性
.div-main {
  @include main-style;
  @include table-style;
  select {
    padding: 0.5em;
    font-size: 20px;
    background-color: #d75455;
    color: #554236;
    border-radius: 10px;
    border: none;
  }
}

// 站別物件屬性
.div-station {
  @include div-style;
  tr {
    td {
      display: contents;
    }
  }
}

// 訊息顯示
.div-panel {
  @include div-style;
  ul {
    background-color: khaki;
    border-bottom: 3px solid #ddd;
    display: block;
    border-radius: 20px;
    margin: auto;
    width: 80%;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
  }
  li {
    border-bottom: 3px solid rgb(245, 144, 144);
    display: block;
    text-align: center;
    color: rgb(0, 46, 252);
    margin: 0em 1.2em 0em 0em;
    border-radius: 0px;
    padding-top: 1em;
    font-size: 28px;
  }
}
// 壓力設定
.div-setWP {
  @include div-style();
  td {
    display: block;
    margin-bottom: 0.3em;
  }
  button {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 25px;
    margin: auto;
  }
}

// 事件判斷發送line訊息
.div-sendmessage {
  @include div-style;
  @include table-style;
  th {
    font-size: 35px;
    inline-size: 10em;
  }
  td {
    color: #4a593d;
    font-size: 35px;
  }
  input {
    margin-bottom: 1em;
    text-align: center;
    font-size: 20px;
    width: 80%;
  }
  select {
    background-color: #6186eb;
  }
}
// 出口壓力&水位屬性
.div-outletWater {
  @include div-style;
  @include table-style;
  th {
    font-size: 35px;
    inline-size: 10em;
  }
  td {
    color: #4a593d;
    font-size: 35px;
    text-align: center;
  }
}

// 土壤濕度偵測屬性
.div-moisture {
  @include div-style;
  @include table-style;
  th {
    font-size: 35px;
    inline-size: 10em;
  }
  td {
    color: #4a593d;
    font-size: 35px;
  }
  span {
    display: block;
    text-align: center;
    input {
      padding: 0.5em;
      font-size: 20px;
      text-align: center;
    }
  }
}

// 時間設定表屬性
.div-sche {
  @include div-style;
  @include table-style;
  @include checkbox-style;
  th {
    font-size: 35px;
    inline-size: 10em;
  }
  td {
    color: #4a593d;
    font-size: 35px;
  }
  input {
    text-align: center;
    padding: 1em;
  }
}
/*-------------------------縮放時變化版面-----------------------------*/
@media screen and (max-width: 1096px) {
  h1 {
    font-size: 32px;
  }
  .div-main {
    th {
      font-size: 30px;
    }
    td {
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 770px) {
  h1 {
    font-size: 25px;
  }
  .div-main {
    th {
      font-size: 23px;
    }
    td {
      font-size: 23px;
    }
  }
  .button-switch {
    display: block;
    // margin: auto;
    width: 80%;
    margin: 0.5em 0em 0.5em 0.6em;
  }

  .div-setWP {
    @include table-RWD;
    td {
      text-align: center;
    }
  }
  .div-sendmessage {
    @include table-RWD;
  }
  .div-outletWater {
    @include table-RWD;
    td {
      text-align: center;
    }
  }
  .div-moisture {
    @include table-RWD;
  }
  .div-sche {
    @include table-RWD;
  }
}
