<link rel="manifest" href="/manifest.json">
<script>
    if ("serviceWorker" in navigator) {
    if (navigator.serviceWorker.controller) {
      console.log("An active service worker found, no need to register");
    } else {
      // Register the service worker
      navigator.serviceWorker
        .register("/sw.js", {
          scope: "./"
        })
        .then(function (reg) {
          console.log("Service worker has been registered for scope: " + reg.scope);
        });
    }
  }
  </script>
  <script src="/assets/libs/live2dw/lib/L2Dwidget.min.js"></script>
  <script>L2Dwidget.init({ "pluginRootPath": "/assets/libs/live2dw/", "pluginJsPath": "lib/", "pluginModelPath": "assets/libs/", "tagMode": false, "debug": false, "model": { "jsonPath": "/assets/libs/live2dw/assets/hijiki.model.json" }, "display": { "position": "right", "width": 150, "height": 300 }, "mobile": { "show": true }, "log": false });</script>