table {
  text-align: center;
  margin: auto;
  color: blue;
}

caption {
  text-align: center;
  font-size: 18px;
  color: green;
  margin-left: -150px;
  margin-right: -150px;
}

td {
  width: 1px;
}

#STATION {
  tr {
    display: contents;
  }
}

@media screen and (max-width: 1096px) {
  caption {
    font-size: 14px;
  }
  #STATION {
    tr {
      td {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  caption {
    font-size: 12px;
  }
  #STATION {
    tr {
      display: block;
      td {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  caption {
    font-size: 10px;
  }
  th {
    font-size: 12px;
  }
}
