// 添加字體厚度,陰影,轉場效果,字體在不同瀏覽器上不同,需統一字體
* {
  font-weight: 700 !important;
  text-shadow: 0.03em 0.03em 0.08em #d7c4bb !important;
  font-family: "Microsoft JhengHei";
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*-------------------------常用混合元素-----------------------------*/

@mixin main-style {
  background-color: #86c166;
  border-radius: 34px;
  box-shadow: 5px 5px 2px #888888a2;
  padding-bottom: 2em;
  h1 {
    background-color: #dcb879;
    border-radius: 20px;
    width: auto;
  }
}

@mixin div-style {
  // background-image: linear-gradient(#c0a8b5b7, #7c85dfc4);
  background-color: #f0ece6;
  border-radius: 34px;
  box-shadow: 5px 5px 2px #888888a2;
  padding-bottom: 2em;
  margin: 1em 1em 1em 1em;
  h1 {
    background-color: #dcb879;
    border-radius: 20px;
    width: auto;
  }
}

/*-------------------------HTML元素-----------------------------*/

body {
  background-color: #91b493;
}

table {
  text-align: center;
  margin: auto;
  width: 80%;
}
h1 {
  font-size: 35px;
  color: #734338;
}
/*-------------------------class元素-----------------------------*/

.button {
  font-size: 35px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #999;
  width: 30%;
  height: 100px;
  margin-left: 0.4em;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.div_Main {
  @include main-style;
  th {
    color: #734338;
    font-size: 20px;
    background-color: #dcb879;
    border-radius: 10px;
  }
  td {
    color: #4a593d;
    background-color: #f0ece6;
    border-radius: 10px;
  }
}

// 站別物件屬性
.div_Station {
  @include div-style;
  tr {
    td {
      display: contents;
    }
  }
}
// 土壤濕度偵測屬性
.div_Moisture {
  @include div-style;
  th {
    background-color: cadetblue;
    font-size: 25px;
    inline-size: 10em;
  }
  td {
    color: rgb(252, 0, 0);
    background-color: khaki;
    font-size: 25px;
  }
}

/*-------------------------縮放時變化版面-----------------------------*/
@media screen and (max-width: 1096px) {
  h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 770px) {
  h1 {
    font-size: 26px;
  }
  .div_Main {
    th {
      font-size: 14px;
    }
  }
  .button {
    display: block;
    // margin: auto;
    width: 80%;
    margin: 0.5em 0em 1em 1em;
  }
  // 土壤濕度偵測屬性變化排版
  .div_Moisture {
    thead {
      clip: rect(0 0 0 0);
      position: absolute;
    }
    tr {
      background-color: khaki;
      border-bottom: 3px solid #ddd;
      display: block;
      border-radius: 20px;
    }

    td {
      border-bottom: 3px solid rgb(245, 144, 144);
      display: block;
      text-align: right;
      margin: 0em 1em 0em 1em;
    }

    td:before {
      color: rgb(3, 3, 3);
      content: attr(data-label);
      float: left;
    }
  }
}
