// 按鈕物件風格屬性
@mixin button-style($color: white, $backcolor: blue) {
  border: none;
  border-radius: 25px;
  color: $color;
  background-color: $backcolor;
  cursor: pointer;
  text-align: center;
}
// 開關按鈕屬性
.button-switch {
  @include button-style(#211e55, lawngreen);
  font-size: 60px;
  box-shadow: 0 9px #999;
  width: 30%;
  height: 150px;
  margin-left: 0.3em;
}

.button-switch:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
